*{
    box-sizing: border-box;
}

html{
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #444;
}

body{
    min-width: 560px;
}
#root{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header{
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.logo{
    height: 70px;
    margin-right: 8px;
}

h1{
    font-size: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #5e5e5e;
}

.connetions{
    display: flex;
}

.connections__img{
    width: 200px;
}

.connections__phone{
    text-align: center;
    text-decoration: none;
    line-height: 105px;
    font-weight: 700;
    color: #5f5fe9;
}

hr{
    width: 85%;
    margin: 16px;
}

.shedule{
    margin-bottom: 16px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 150px;
    width: 80%;
    background-color: #8888ec;
    color: #fcfaf3;
    border-radius: 8px;
    box-shadow: 3px 6px 20px 0px #000000ba;
}

.shedule__header{
    font-weight: 700;
}

.necessary{
    background-color: #3eac3e;
    padding: 8px;
    border-radius: 8px;
}

.about{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.about__header{
    margin-top: 8px; 
    margin-bottom: 8px;
    font-weight: 700;
}

.doctors{
    margin: 8px;
    margin-bottom: 24px;
    display: flex;
    background-color: #8888ec;
    color: #fcfaf3;
    border-radius: 8px;
    box-shadow: 3px 6px 20px 0px #000000ba;
}

.photo{
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photo__img{
    width: 200px;
}
.photo__text{
    margin: 8px;
}

footer{
    display: flex;
    margin: 16px;

}

.container{
    display: flex;
    align-items: center;
}

.footer__img{
    width: 100px;
}

.footer__text{
    margin-left: 8px;
    text-decoration: none;
}