* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #444;
}

body {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.header {
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 992px) {
  .header {
    margin-left: 128px;
  }
}

.logo {
  height: 70px;
  margin-right: 8px;
}

h1 {
  width: 240px;
  font-size: 32px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #5e5e5e;
}

.connections-shedule {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 520px;
}
@media screen and (min-width: 576px) {
  .connections-shedule {
    flex-direction: row;
  }
}
@media screen and (min-width: 768px) {
  .connections-shedule {
    width: 720px;
  }
}
@media screen and (min-width: 992px) {
  .connections-shedule {
    width: 860px;
  }
}

.connections-container {
  display: flex;
  flex-direction: column;
}

.connections {
  display: flex;
  flex-direction: column;
}
.connections__text {
  width: 280px;
  margin: 8px;
}
.connections__container {
  display: flex;
}
.connections__img {
  margin: 8px;
  border: 1px solid #3eac3e;
  border-radius: 8px;
  width: 280px;
  animation: shadow 3s infinite linear;
}
@media screen and (min-width: 576px) {
  .connections__img {
    width: 240px;
  }
}
@media screen and (min-width: 768px) {
  .connections__img {
    width: 280px;
  }
}
@media screen and (min-width: 992px) {
  .connections__img {
    position: fixed;
    top: 16px;
  }
}
.connections__phone {
  text-align: center;
  text-decoration: none;
  margin-top: 8px;
  font-weight: 700;
  color: #5f5fe9;
}
@media screen and (min-width: 576px) {
  .connections {
    width: 260px;
  }
}
@media screen and (min-width: 768px) {
  .connections {
    width: 320px;
  }
}

.shedule {
  width: 280px;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 150px;
  background-color: #8888ec;
  color: #fcfaf3;
  border-radius: 8px;
  box-shadow: 3px 6px 20px 0px #000000ba;
}
.shedule__header {
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .shedule {
    width: 320px;
  }
}
@media screen and (min-width: 992px) {
  .shedule {
    width: 450px;
  }
}

.necessary {
  background-color: #3eac3e;
  padding: 8px;
  border-radius: 8px;
}

.adress {
  width: 240px;
}
@media screen and (min-width: 576px) {
  .adress {
    margin-top: 16px;
    width: 480px;
  }
}

iframe {
  width: 240px;
}
@media screen and (min-width: 576px) {
  iframe {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  iframe {
    width: 640px;
  }
}
@media screen and (min-width: 992px) {
  iframe {
    width: 800px;
  }
}

hr {
  width: 300px;
  margin: 16px;
}
@media screen and (min-width: 576px) {
  hr {
    width: 520px;
  }
}
@media screen and (min-width: 768px) {
  hr {
    width: 700px;
  }
}
@media screen and (min-width: 992px) {
  hr {
    width: 860px;
  }
}

.about {
  display: flex;
  flex-direction: column;
  width: 240px;
}
.about__header {
  width: 240px;
  margin-top: 8px;
  margin-bottom: 8px;
  font-weight: 700;
}
@media screen and (min-width: 576px) {
  .about {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .about {
    width: 640px;
  }
}
@media screen and (min-width: 992px) {
  .about {
    width: 800px;
  }
}

.doctors {
  display: flex;
  flex-direction: column;
  margin: 8px;
  margin-bottom: 24px;
  display: flex;
  background-color: #8888ec;
  color: #fcfaf3;
  border-radius: 8px;
  box-shadow: 3px 6px 20px 0px #000000ba;
}
@media screen and (min-width: 576px) {
  .doctors {
    flex-direction: row;
  }
}

.photo {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.photo__img {
  width: 200px;
}
@media screen and (min-width: 992px) {
  .photo__img {
    width: 250px;
  }
}
.photo__text {
  margin: 8px;
}

.documents {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}
.documents__img {
  width: 300px;
  margin-bottom: 16px;
}
@media screen and (min-width: 576px) {
  .documents__img {
    width: 500px;
  }
}
@media screen and (min-width: 768px) {
  .documents__img {
    width: 700px;
  }
}
@media screen and (min-width: 992px) {
  .documents__img {
    width: 900px;
  }
}

footer {
  display: flex;
  margin: 16px;
  justify-content: left;
}

.container {
  display: flex;
  align-items: center;
}

.footer-img {
  width: 50px;
}

.footer-text {
  margin-left: 8px;
  text-decoration: none;
}

@keyframes shadow {
  0% {
    box-shadow: 3px 6px 20px 0px #000000ba;
  }
  50% {
    box-shadow: 3px 6px 20px 0px #00000000;
  }
  100% {
    box-shadow: 3px 6px 20px 0px #000000ba;
  }
}

/*# sourceMappingURL=index.css.map */
