@import './breakpoints.scss';

*{
    box-sizing: border-box;
}

html{
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #444;
}

body{
    min-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    background-color: #f5f5f5;
    
}
#root{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.header{
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.logo{
    height: 70px;
    margin-right: 8px;
}

h1{
    width: 240px;
    font-size: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #5e5e5e;
}

.connections-shedule{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 520px;
    @include for-small-up{
        flex-direction: row;
    }
    @include for-medium-up{
        width: 720px;
    } 
    @include for-large-up{
        width: 860px;
    } 
  
}

.connections-container{
    display: flex;
    flex-direction: column;
}

.connections{
    display: flex;
    flex-direction: column;
    &__text{
        width: 280px;
        margin: 8px;
    }
    &__container{
        display: flex;
    }
    &__img{
        margin: 8px;
        border: 1px solid #3eac3e;
        border-radius: 8px;
        width: 280px;
        animation: shadow  3s infinite linear;
        @include for-small-up{
            width: 240px;
        }  
        @include for-medium-up{
            width: 280px;

        } 
        @include for-large-up{
            position: absolute;
            top: 16px;
            left: 5%;
        } 
            
    }

    &__phone{
        text-align: center;
        text-decoration: none;
        margin-top: 8px;
        font-weight: 700;
        color: #5f5fe9;
    }
    @include for-small-up{
        width: 260px;
    }
    @include for-medium-up{
        width: 320px;
    } 
}

.shedule{
    width: 280px;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 150px;
    background-color: #8888ec;
    color: #fcfaf3;
    border-radius: 8px;
    box-shadow: 3px 6px 20px 0px #000000ba;
    &__header{
            font-weight: 700;
    }
    @include for-medium-up{
        width: 320px;
    } 
    @include for-large-up{
        width: 450px;
    } 
}

.necessary{
    background-color: #3eac3e;
    padding: 8px;
    border-radius: 8px;
}

.adress{
    width: 240px;
    @include for-small-up{
     margin-top: 16px;   
     width: 480px;
    }
}

iframe{
    width: 240px;
    @include for-small-up{
        width: 480px;
    }
    @include for-medium-up{
        width: 640px;
    } 
    @include for-large-up{
        width: 800px;
    } 
}

hr{
    width: 300px;
    margin: 16px;
    @include for-small-up{
        width: 520px;
    }
    @include for-medium-up{
        width: 700px;
    } 
    @include for-large-up{
        width: 860px;
    } 
}

.about{
    display: flex;
    flex-direction: column;
    width: 240px;
    &__header{
        width: 240px;
        margin-top: 8px; 
        margin-bottom: 8px;
        font-weight: 700;
    }
    @include for-small-up{
        width: 480px;
    }
    @include for-medium-up{
        width: 640px;
    } 
    @include for-large-up{
        width: 800px;
    } 
}

.doctors{
    display: flex;
    flex-direction: column;
    margin: 8px;
    margin-bottom: 24px;
    display: flex;
    background-color: #8888ec;
    color: #fcfaf3;
    border-radius: 8px;
    box-shadow: 3px 6px 20px 0px #000000ba;
    @include for-small-up{
        flex-direction: row;
    }
}

.photo{
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__img{
    width: 200px;
    @include for-large-up{
        width: 250px;
    } 
    }
    &__text{
        margin: 8px;
    }
}

footer{
    display: flex;
    width: 80%;
    margin: 16px;
    justify-content: left;

}

.container{
    display: flex;
    align-items: center;
}

.footer-img{
    width: 50px;
}

.footer-text{
    margin-left: 8px;
    text-decoration: none;
}

@keyframes shadow {
    0%{
        box-shadow: 3px 6px 20px 0px #000000ba;
    }
    50%{
        box-shadow: 3px 6px 20px 0px #00000000;
    }
    100%{
        box-shadow: 3px 6px 20px 0px #000000ba;
    }
}
